$font:   Verdana, sans-serif !default;

$baseFontSize: 16px;



$breakpoints: ('small': 640px, 'medium': 768px, 'large':1024px, 'xlarge': 1280px, 'wrapperEdge': 1360px, 'xxlarge': 1600px) !default;


:root {
    --wrapper: 1600px;
    --transition: .5s;
    --gridSpace: 16px;


    //colors
    --white:#fff;
    --pink:#fae3ef;



    //headings
    --h1: #{clamp(22px, 4vw, 30px)};
    --h2: #{clamp(38px, 4vw, 58px)};
    --h3: #{clamp(22px, 4vw, 34px)};
    --h4: #{clamp(16px, 4vw, 22px)};
    --p: #{15px};

    --h2space: 24px;


}